.ToDoList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}

.ToDoCard {
    max-width: 600px;
    margin: 32px auto auto 16px;
}